*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #121212;
    color: whitesmoke;
}

#wrapper{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: fixed;
    background: rgba(247, 2, 2, 0.808);
}

.container{
    width: 1300px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
}

header{
    width: 100%;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
}

nav ul li:hover{
    background: rgba(255, 0, 0, 0.795);
    color: white;
    transition: 0.5s;
    border-radius: 20px;
}

li a{
    text-decoration: none;
    color: white;
}

li a:hover{
    color: blue;

}

.logo{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

.container2{
    width: 1300px;
    margin: 0 auto;
    padding: 100px 0px 0px 0px;

}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.ui-text{
    font-size: 25px;
    color: rgba(255, 0, 0, 0.445);
}

.p1{
    font-size: 40px;
    font-weight: bolder;
}

img{
    border-radius: 67px;
}

#about{
    margin: 5% auto;
    width: 1300px;
    padding: 30px;
    background: rgba(128, 128, 128, 0.103);
    box-shadow:  0 4px 8px rgba(245, 245, 245, 0.158), 0 2px 4px  rgba(245, 245, 245, 0.158);
}

.about-me{
    font-size: 40px;
    font-weight: bolder;
    line-height: 100px;
    color:  rgba(255, 0, 0, 0.705);
}

.p2{
    font-size: 22px;
    font-weight: 300;
}

#interests{
    margin: 5% auto;
    width: 1300px;
    padding: 30px;
    background: rgba(128, 128, 128, 0.103);
    box-shadow:  0 4px 8px rgba(245, 245, 245, 0.158), 0 2px 4px  rgba(245, 245, 245, 0.158);
}

.col-md-4{
    width: 33.3%;
    margin: 20px;
    padding: 10px;
}

.interests{
    font-size: 40px;
    font-weight: bolder;
    color:  rgba(255, 0, 0, 0.705); 
    margin-left: 20px;
    padding-top: 20px;
}

.int{
    padding: 7px 0px;
    font-size: 30px;
}

.int-2{
    font-size: 20px;
    font-weight: lighter;
}

#skills{
    margin: 5% auto;
    width: 1300px;
    padding: 30px;
    background: rgba(128, 128, 128, 0.103);
    box-shadow:  0 4px 8px rgba(245, 245, 245, 0.158), 0 2px 4px  rgba(245, 245, 245, 0.158);
}

.skills{
    font-size: 40px;
    font-weight: bolder;
    line-height: 90px;
    color:  rgba(255, 0, 0, 0.705);
    margin-left: 400px;
}

.icon-item {
    font-size: 30px;
    color: #b1afaf;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.icon-item i {
    margin-bottom: 10px;
}

#education{
    margin: 5% auto;
    width: 1300px;
    padding: 30px;
    background: rgba(128, 128, 128, 0.103);
    box-shadow:  0 4px 8px rgba(245, 245, 245, 0.158), 0 2px 4px  rgba(245, 245, 245, 0.158);
}

.edu{
    font-size: 40px;
    font-weight: bolder;
    line-height: 90px;
    color:  rgba(255, 0, 0, 0.705);
    margin-left: 400px;
}

.edu-bgd{
    font-size: 20px;
    margin-left: 550px;
    line-height: 30px;
    font-weight: bolder;
}

.gtc{
    margin-left: 440px;
    font-weight: lighter;
}

.download-cv{
    padding-top: 30px;
    margin-left: 10px;
}

.btn-download {
    display: inline-block;
    background-color:  rgba(0, 0, 255, 0.103);
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 9px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-left: 500px;
    box-shadow: 0 4px 8px rgba(245, 245, 245, 0.158), 0 2px 4px  rgba(245, 245, 245, 0.158);
}

.btn-download:hover {
    background: lightblue;
    transition: all 0.5s;
    color: #0026ff;
}


#projects{
    margin: 5% auto;
    width: 1300px;
    padding: 30px;
    background: rgba(128, 128, 128, 0.103);
    box-shadow:  0 4px 8px rgba(245, 245, 245, 0.158), 0 2px 4px  rgba(245, 245, 245, 0.158);
}

.projects{
    font-size: 40px;
    font-weight: bolder;
    line-height: 90px;
    color:  rgba(255, 0, 0, 0.705);
    margin-left: 530px;
}

.p3{
    font-size: 22px;
    font-weight: 300;
    margin: 0px 40px;
}

.btn-1{
    padding: 10px;
    margin: 20px 550px;
    background: rgba(0, 0, 255, 0.103);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(245, 245, 245, 0.158), 0 2px 4px  rgba(245, 245, 245, 0.158);
}

.btn-1 a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.btn-1:hover{
    background: lightblue;
    transition: all 0.5s;
}

.btn-1 a:hover{
    color: blue;
}

#contact{
    margin: 5% auto;
    width: 1300px;
    padding: 30px;
    background: rgba(128, 128, 128, 0.103);
    box-shadow:  0 4px 8px rgba(245, 245, 245, 0.158), 0 2px 4px  rgba(245, 245, 245, 0.158);
}

.contact{
    font-size: 40px;
    font-weight: bolder;
    line-height: 90px;
    color:  rgba(255, 0, 0, 0.705);
    margin-left: 500px;
}

.formgroup {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(255, 0, 0, 0.37);
    border-radius: 7px;
    font-size: 18px;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
}

.submit-btn {
    background-color: #5C6BC0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width:100%;
}

.submit-btn:hover {
    background-color: #3f4e9f;
}

.alt-1{
    margin-top: 20px;
    margin: 10px;
}

.social-links {
    margin-top: 20px;
}

.social-btn {
    display: inline-block;
    padding: 10px 10px;
    color: white;
    border-radius: 50px;
}

.social-btn:hover {
    background-color: #0026ff;
    transition: all 0.5 ease-in-out;
}

.social-btn i {
    font-size: 35px;
}

footer{
    text-align: center;
    margin-bottom: 40px;
    font-size: 1em;
    color: #bbb;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .container {
        flex-direction: column;
    }

    .about-me, .skills, .projects {
        font-size: 30px;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .btn-download {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .nav ul {
        flex-direction: column;
        text-align: center;
    }

    .nav ul li {
        padding: 15px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 10px;
    }

    .btn-download {
        padding: 12px 20px;
        font-size: 14px;
    }

    .contact .formgroup input, .contact .formgroup textarea {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 1 1 100%;
    }
}